/*
Error: Invalid @import: expected end of line, was ";".
        on line 1 of /Users/Martin/Documents/openthings/sass/partials/_base.sass
        from line 5 of /Users/Martin/Documents/openthings/sass/main.scss

1: @import 'typography';
2: @import 'forms';
3: @import 'buttons';
4: @import 'icons';
5: @import 'elements';
6: @import 'typical_classes';

Backtrace:
/Users/Martin/Documents/openthings/sass/partials/_base.sass:1
/Users/Martin/Documents/openthings/sass/main.scss:5
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:986:in `parse_import_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:788:in `parse_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:635:in `parse_line'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:525:in `build_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:544:in `block in append_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:543:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:543:in `append_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:396:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:299:in `to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `block in with_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `with_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:396:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid @import: expected end of line, was \";\".\A         on line 1 of /Users/Martin/Documents/openthings/sass/partials/_base.sass\A         from line 5 of /Users/Martin/Documents/openthings/sass/main.scss\A \A 1: @import 'typography';\A 2: @import 'forms';\A 3: @import 'buttons';\A 4: @import 'icons';\A 5: @import 'elements';\A 6: @import 'typical_classes';"; }
