/* line 13, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/modules/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

/* HTML5 display-role reset for older browsers */
/* line 23, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/modules/reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/modules/reset */
ol, ul {
  list-style: none; }

/* line 29, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/modules/reset */
blockquote, q {
  quotes: none; }

/* line 33, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/modules/reset */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 37, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/modules/reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot');
  src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 11, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/typography */
html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

/* line 15, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/typography */
body {
  font-family: 'proxima_nova_rgregular', sans-serif;
  color: #323a45; }

/* line 19, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* line 22, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/typography */
h1 {
  font-size: 1.125em;
  line-height: 1.6875em; }

/* line 26, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/typography */
p {
  margin-bottom: 1em;
  /* 24 / 16 */ }

/* line 29, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/typography */
a {
  text-decoration: none;
  opacity: 1;
  color: #2cd2b4; }

/* line 34, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/typography */
a:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/forms */
input {
  border: 1px solid #edebeb; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/buttons */
button {
  color: white;
  background-color: #2cd2b4;
  cursor: pointer;
  padding: 0.625em; }

@font-face {
  font-family: 'icons_martin';
  src: url('../icons/icons_martin.eot?79h4zr');
  src: url('../icons/icons_martin.eot?#iefix79h4zr') format('embedded-opentype'), url('../icons/icons_martin.woff?79h4zr') format('woff'), url('../icons/icons_martin.ttf?79h4zr') format('truetype'), url('../icons/icons_martin.svg?79h4zr#icons_martin') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 12, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons_martin';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: 2px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 28, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_apple:before {
  content: "\e600"; }

/* line 31, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_artifact:before {
  content: "\e601"; }

/* line 34, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_bin:before {
  content: "\e602"; }

/* line 37, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_camera:before {
  content: "\e603"; }

/* line 40, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_carrot:before {
  content: "\e604"; }

/* line 43, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_chat:before {
  content: "\e605"; }

/* line 46, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_clock:before {
  content: "\e606"; }

/* line 49, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_clock2:before {
  content: "\e607"; }

/* line 52, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_cloud:before {
  content: "\e608"; }

/* line 55, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_code:before {
  content: "\e609"; }

/* line 58, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_cup:before {
  content: "\e60a"; }

/* line 61, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_down:before {
  content: "\e60b"; }

/* line 64, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_eye:before {
  content: "\e60c"; }

/* line 67, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_flag:before {
  content: "\e60d"; }

/* line 70, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_flat_sat:before {
  content: "\e60e"; }

/* line 73, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_flat:before {
  content: "\e60f"; }

/* line 76, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_gift:before {
  content: "\e610"; }

/* line 79, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_hammer:before {
  content: "\e611"; }

/* line 82, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_health:before {
  content: "\e612"; }

/* line 85, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_heart:before {
  content: "\e613"; }

/* line 88, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_home:before {
  content: "\e614"; }

/* line 91, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_key:before {
  content: "\e615"; }

/* line 94, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_key2:before {
  content: "\e616"; }

/* line 97, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_lamp:before {
  content: "\e617"; }

/* line 100, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_lemon:before {
  content: "\e618"; }

/* line 103, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_list:before {
  content: "\e619"; }

/* line 106, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_lock:before {
  content: "\e61a"; }

/* line 109, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_loupe:before {
  content: "\e61b"; }

/* line 112, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_meat:before {
  content: "\e61c"; }

/* line 115, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_mechanic:before {
  content: "\e61d"; }

/* line 118, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_message:before {
  content: "\e61e"; }

/* line 121, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_money:before {
  content: "\e61f"; }

/* line 124, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_music:before {
  content: "\e620"; }

/* line 127, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_pencil:before {
  content: "\e621"; }

/* line 130, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_person:before {
  content: "\e622"; }

/* line 133, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_phone:before {
  content: "\e623"; }

/* line 136, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_phone2:before {
  content: "\e624"; }

/* line 139, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_picture:before {
  content: "\e625"; }

/* line 142, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_play:before {
  content: "\e626"; }

/* line 145, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_plug:before {
  content: "\e627"; }

/* line 148, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_plug2:before {
  content: "\e628"; }

/* line 151, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_plus:before {
  content: "\e629"; }

/* line 154, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_recycle:before {
  content: "\e62a"; }

/* line 157, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_redo:before {
  content: "\e62b"; }

/* line 160, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_save:before {
  content: "\e62c"; }

/* line 163, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_screen:before {
  content: "\e62d"; }

/* line 166, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_search:before {
  content: "\e62e"; }

/* line 169, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_share:before {
  content: "\e62f"; }

/* line 172, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_share2:before {
  content: "\e630"; }

/* line 175, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_star:before {
  content: "\e631"; }

/* line 178, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_star2:before {
  content: "\e632"; }

/* line 181, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_suitcase:before {
  content: "\e633"; }

/* line 184, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_television:before {
  content: "\e634"; }

/* line 187, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_text:before {
  content: "\e635"; }

/* line 190, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_title:before {
  content: "\e636"; }

/* line 193, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_undo:before {
  content: "\e637"; }

/* line 196, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_vinyl:before {
  content: "\e638"; }

/* line 199, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/icons */
.icon-icon_world:before {
  content: "\e639"; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/typical_classes */
.right {
  float: right; }

/* line 4, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/typical_classes */
.left {
  float: left; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.projectComments, .mainContent, .mainContent .projectHeader div, .mainContent .projectDetails {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 4, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
body {
  background-color: #edebeb; }

/* line 7, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.mainContent {
  width: 100%; }

/* line 10, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.projectPage .mainContent {
  padding: 0 2%; }

/* line 13, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.mainContent .featured {
  width: 47%; }

/* line 16, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.mainContent li {
  margin: 0 0 2% 2%;
  width: 22.5%; }

/* line 20, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.mainContent li article {
  background-color: white; }

/* line 23, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.mainContent li header {
  padding: 0.3125em 0.9375em; }

/* line 26, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.mainContent li a {
  color: #323232; }

/* line 29, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.mainContent article img {
  width: 100%; }

/* line 32, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.mainContent .projectHeader img, .mainContent .projectHeader div {
  width: 100%; }

/* line 35, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.mainContent .projectHeader div {
  padding: 2%;
  background-color: #323232;
  color: white; }

/* line 40, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.projectHeader p {
  max-width: 800px; }

/* line 44, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.projectDetails {
  width: 50%;
  padding: 2%;
  background-color: rgba(44, 210, 180, 0.3);
  color: #333; }

/* line 50, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.projectDetails li span {
  font-size: 5em; }

/* line 53, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.projectDetails li h5 {
  margin-top: 1em; }

/* line 56, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.projectDetails li {
  text-align: center;
  margin: 0 2% 0 0; }

/* line 61, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/layout */
.projectComments {
  background-color: white;
  width: 50%;
  margin-bottom: 2%;
  padding: 2%; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/menus */
.logo, .shareDesignBtn, .mainNavigation li, .mainNavigation li a {
  height: 100%; }

/* line 4, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/menus */
.mainNavigation {
  background-color: #edebeb;
  height: 75px;
  font-size: 1.3125em; }

/* line 9, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/menus */
.logo {
  background: #323232 url(../images/logo.svg) no-repeat 0.9em center;
  padding: 0 3em;
  line-height: 3.6em;
  color: white; }

/* line 15, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/menus */
.shareDesignBtn {
  background-color: #2cd2b4;
  padding: 0 1.875em;
  line-height: 3.6em;
  color: white; }

/* line 21, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/menus */
.mainNavigation li {
  display: inline-block; }

/* line 25, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/menus */
.mainNavigation li a {
  color: #666666;
  padding: 0 3em;
  line-height: 3.6em;
  display: inline-block; }

/* line 31, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/menus */
.mainNavigation .current a {
  background-color: white; }

/* line 34, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/menus */
.mainNavigation li a:hover {
  background-color: white; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/search */
.mainSearch {
  width: 100%;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.9375em 1.875em;
  margin-bottom: 1.875em; }

/* line 8, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/search */
.mainSearch li {
  display: inline;
  margin: 0 0 0 1.875em;
  line-height: 3.125em; }

/* line 13, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/search */
.mainSearch input {
  width: 24.375em;
  height: 3.125em;
  padding: 0 0.9375em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 19, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/search */
.mainSearch button {
  height: 3.125em;
  padding: 0 0.9375em;
  margin: 0 0.3125em; }

/* line 1, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/footer */
.mainFooter {
  padding: 0 2%; }

/* line 4, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/footer */
.mainFooter p {
  font-size: 0.875em;
  color: #666666;
  margin-top: 1em;
  line-height: 3em; }

/* line 10, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/footer */
.footerNav {
  width: 100%;
  margin-top: 2em;
  background-color: white; }

/* line 15, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/footer */
.footerNav section {
  width: 21%;
  margin: 2%; }

/* line 20, /Users/martinrisseeuw/Dropbox/Development projects/openthings/sass/partials/footer */
.footerNav li {
  line-height: 1.5em;
  font-size: 0.875em; }

/*# sourceMappingURL=main.css.map */