html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, textarea, select {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot");
  src: url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff") format("woff"), url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf") format("truetype"), url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'proxima_nova_rgregular', sans-serif;
  color: #323a45; }

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin: 0; }

h1, .alpha {
  font-size: 2.625em;
  line-height: 1.0476190476190477;
  margin-bottom: 0.5238095238095238em; }

h2, .beta {
  font-size: 1.96875em;
  line-height: 1.3968253968253967;
  margin-bottom: 0.6984126984126984em; }

h3, .gamma {
  font-size: 1.3125em;
  margin: 0 0 1.5714285714285714em;
  line-height: 1.5714285714285714; }

h4, .delta {
  font-size: 1.1484375em;
  line-height: 1.1972789115646258;
  margin-bottom: 1.1972789115646258em; }

h5, .epsilon {
  font-size: 0.984375em;
  line-height: 1.3968253968253967;
  margin-bottom: 1.3968253968253967em; }

h6, .zeta {
  font-size: 0.875em;
  line-height: 1.5714285714285714;
  margin-bottom: 1.5714285714285714em; }

p,
blockquote {
  font-size: 1.3125em;
  margin: 0 0 1.5714285714285714em;
  line-height: 1.5714285714285714;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

dd,
dt,
li {
  line-height: 1.5714285714285714;
  margin: 0; }

a {
  text-decoration: none;
  opacity: 1;
  color: #2cd2b4;
  -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out; }

a:hover {
  opacity: 0.8; }

select, input, textarea {
  padding: 1em;
  border-radius: 1px; }

select, input, textarea {
  border: 1px solid #edebeb; }

button {
  color: white;
  background-color: #2cd2b4;
  cursor: pointer;
  padding: 0.625em;
  border-radius: 1px;
  -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out; }

.btn {
  color: white !important;
  display: inline-block;
  background-color: #2cd2b4;
  cursor: pointer;
  padding: 0.625em;
  border-radius: 1px;
  -webkit-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out; }

.updateProjectBtn {
  position: relative;
  top: -0.875em; }

button:hover, .btn:hover {
  opacity: 0.8; }

@font-face {
  font-family: 'icons_martin';
  src: url("../icons/icons_martin.eot?79h4zr");
  src: url("../icons/icons_martin.eot?#iefix79h4zr") format("embedded-opentype"), url("../icons/icons_martin.woff?79h4zr") format("woff"), url("../icons/icons_martin.ttf?79h4zr") format("truetype"), url("../icons/icons_martin.svg?79h4zr#icons_martin") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons_martin';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: 2px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-icons_difficulty0:before {
  content: "\e63a"; }

.icon-icons_difficulty1:before {
  content: "\e63b"; }

.icon-icons_difficulty2:before {
  content: "\e63c"; }

.icon-icons_difficulty3:before {
  content: "\e63d"; }

.icon-icons_difficulty4:before {
  content: "\e63e"; }

.icon-icons_difficulty5:before {
  content: "\e63f"; }

.icon-icon_apple:before {
  content: "\e600"; }

.icon-icon_artifact:before {
  content: "\e601"; }

.icon-icon_bin:before {
  content: "\e602"; }

.icon-icon_camera:before {
  content: "\e603"; }

.icon-icon_carrot:before {
  content: "\e604"; }

.icon-icon_chat:before {
  content: "\e605"; }

.icon-icon_clock:before {
  content: "\e606"; }

.icon-icon_clock2:before {
  content: "\e607"; }

.icon-icon_cloud:before {
  content: "\e608"; }

.icon-icon_code:before {
  content: "\e609"; }

.icon-icon_cup:before {
  content: "\e60a"; }

.icon-icon_down:before {
  content: "\e60b"; }

.icon-icon_eye:before {
  content: "\e60c"; }

.icon-icon_flag:before {
  content: "\e60d"; }

.icon-icon_flat_sat:before {
  content: "\e60e"; }

.icon-icon_flat:before {
  content: "\e60f"; }

.icon-icon_gift:before {
  content: "\e610"; }

.icon-icon_hammer:before {
  content: "\e611"; }

.icon-icon_health:before {
  content: "\e612"; }

.icon-icon_heart:before {
  content: "\e613"; }

.icon-icon_home:before {
  content: "\e614"; }

.icon-icon_key:before {
  content: "\e615"; }

.icon-icon_key2:before {
  content: "\e616"; }

.icon-icon_lamp:before {
  content: "\e617"; }

.icon-icon_lemon:before {
  content: "\e618"; }

.icon-icon_list:before {
  content: "\e619"; }

.icon-icon_lock:before {
  content: "\e61a"; }

.icon-icon_loupe:before {
  content: "\e61b"; }

.icon-icon_meat:before {
  content: "\e61c"; }

.icon-icon_mechanic:before {
  content: "\e61d"; }

.icon-icon_message:before {
  content: "\e61e"; }

.icon-icon_money:before {
  content: "\e61f"; }

.icon-icon_music:before {
  content: "\e620"; }

.icon-icon_pencil:before {
  content: "\e621"; }

.icon-icon_person:before {
  content: "\e622"; }

.icon-icon_phone:before {
  content: "\e623"; }

.icon-icon_phone2:before {
  content: "\e624"; }

.icon-icon_picture:before {
  content: "\e625"; }

.icon-icon_play:before {
  content: "\e626"; }

.icon-icon_plug:before {
  content: "\e627"; }

.icon-icon_plug2:before {
  content: "\e628"; }

.icon-icon_plus:before {
  content: "\e629"; }

.icon-icon_recycle:before {
  content: "\e62a"; }

.icon-icon_redo:before {
  content: "\e62b"; }

.icon-icon_save:before {
  content: "\e62c"; }

.icon-icon_screen:before {
  content: "\e62d"; }

.icon-icon_search:before {
  content: "\e62e"; }

.icon-icon_share:before {
  content: "\e62f"; }

.icon-icon_share2:before {
  content: "\e630"; }

.icon-icon_star:before {
  content: "\e631"; }

.icon-icon_star2:before {
  content: "\e632"; }

.icon-icon_suitcase:before {
  content: "\e633"; }

.icon-icon_television:before {
  content: "\e634"; }

.icon-icon_text:before {
  content: "\e635"; }

.icon-icon_title:before {
  content: "\e636"; }

.icon-icon_undo:before {
  content: "\e637"; }

.icon-icon_vinyl:before {
  content: "\e638"; }

.icon-icon_world:before {
  content: "\e639"; }

/* Common style */
.mainContent figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: #333;
  text-align: center;
  cursor: pointer; }

.mainContent figure img {
  position: relative;
  display: block;
  max-width: 100%;
  opacity: 0.8; }

.mainContent figure figcaption {
  padding: 1em;
  color: #fff;
  font-size: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.mainContent figure figcaption::before,
.mainContent figure figcaption::after {
  pointer-events: none; }

.mainContent figure figcaption,
.mainContent figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.mainContent figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.mainContent figure h2,
.mainContent figure p {
  margin: 0; }

/* Individual effects */
/*---------------*/
/***** Lily *****/
/*---------------*/
figure.effect-lily img {
  max-width: none;
  width: calc(100% + 50px);
  opacity: 0.8;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0); }

figure.effect-lily figcaption {
  text-align: left; }

figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  height: 50%; }

figure.effect-lily h2,
figure.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
  padding: 0 5px; }

figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  font-size: 1.125em; }

figure.effect-lily p {
  color: white;
  font-size: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
  background: rgba(44, 210, 180, 0.8); }

figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1; }

figure.effect-lily:hover h2 {
  background: rgba(0, 0, 0, 0.8); }

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s; }

.right {
  float: right; }

.left {
  float: left; }

.projectVersions, .commentInput form, .commentInput, .projectComments ul, .projectComments header, .projectComments, .mainContent, .mainContent .projectHeader div, .mainContent .projectDetails, .postProject {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #edebeb; }

.projectComments ul, .mainContent, .projectHeader, .mainContent .projectComments li, .commentInput, .commentInput input, .commentInput textarea, .commentInput form {
  width: 100%; }

.mainContent .projectHeader img, .mainContent .projectHeader div {
  width: 50%; }

.mainContent .preview {
  margin: 2% 0 0 2%;
  width: 22.5%; }

.mainContent li header {
  padding: 0.3125em 0.9375em; }

.mainContent li a {
  color: #323232; }

.mainContent .projectHeader div {
  padding: 4%;
  background-color: #323232;
  color: white; }

.landingPage .mainContent {
  padding-bottom: 2%; }

.projectHeader {
  background-color: #323232; }

.projectHeader p {
  max-width: 800px; }

.projectVersions {
  width: 50%;
  padding: 4%;
  background-color: rgba(255, 255, 255, 0.3);
  color: #333; }

.projectVersions li {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 4% 0; }

.projectDetails {
  width: 50%;
  padding: 4%;
  background-color: rgba(255, 255, 255, 0.6);
  color: #333;
  text-align: center;
  border-bottom: #ddd solid 1px; }

.projectDetails li span {
  font-size: 3em; }

.projectDetails li h5 {
  margin-top: 1em;
  margin-bottom: 0; }

.projectDetails li h6 {
  margin-bottom: 0; }

.projectDetails li {
  margin: 0 2% 0 0;
  width: 22.5%; }

.projectDetails li:last-child {
  margin: 0 0 0 0; }

.projectComments {
  width: 50%;
  padding: 4%;
  background-color: white; }

.projectComments header {
  background-color: white;
  width: 100%; }

.projectComments div {
  width: 50%; }

.projectComments ul {
  background: white;
  display: none; }

.viewcomments {
  text-align: right;
  cursor: pointer; }

.projectComments span {
  margin-right: 0.1em; }

.comment {
  border-top: 1px solid #edebeb;
  padding: 4% 0 0 0; }

.commentInput {
  background: white; }

.commentInput form {
  border-top: 1px solid #edebeb;
  padding-top: 4%; }

.commentInput input, .commentInput textarea {
  margin-bottom: 1em;
  max-width: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.standardPage .mainContent {
  padding: 2%; }

.standardPage .mainContent p {
  max-width: 40em;
  font-size: 1.5em; }

.postProject {
  padding: 4%;
  width: 100%;
  background: white;
  display: none; }

.postProject form {
  max-width: 600px;
  width: 100%; }

.postProject input, .postProject textarea, .postProject select {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1em;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.logo, .shareDesignBtn, .mainNavigation li, .mainNavigation li a {
  height: 100%; }

.mainNavigation {
  background-color: #edebeb;
  height: 75px;
  font-size: 1.3125em; }

.logo {
  background: #323232;
  padding: 0 1.4em;
  line-height: 3.6em;
  color: white; }

.shareDesignBtn {
  background-color: #2cd2b4;
  padding: 0 1.4em;
  line-height: 3.6em;
  color: white; }

.mainNavigation li {
  display: inline-block; }

.mainNavigation li a {
  color: #666666;
  padding: 0 1.4em;
  line-height: 3.6em;
  display: inline-block; }

.mainNavigation .current a {
  background-color: white; }

.mainNavigation li a:hover {
  background-color: white; }

.mainSearch {
  width: 100%;
  background-color: white;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.9375em 1.875em;
  border-bottom: 1px solid #ddd; }

.mainSearch li {
  display: inline;
  margin: 0 0 0 1.875em;
  line-height: 3.125em; }

.mainSearch input {
  width: 24.375em;
  height: 3.125em;
  padding: 0 0.9375em;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.mainSearch button {
  height: 3.125em;
  padding: 0 0.9375em;
  margin: 0 0.3125em; }

.mainFooter {
  padding: 0 2%; }

.mainFooter p {
  font-size: 0.875em;
  color: #666666;
  margin-top: 0.5em;
  line-height: 3em;
  margin-bottom: 0; }

.footerNav {
  width: 100%;
  background-color: white;
  border-top: 1px solid #ddd; }

.footerNav section {
  width: 21%;
  margin: 2%; }

.footerNav li {
  line-height: 1.5em;
  font-size: 0.875em; }
