button{
	color: white;
	background-color: $brand-color;
	cursor: pointer;
	padding: $xsmall-margin-padding;
}
.btn{
	color: white;
	background-color: $brand-color;
	cursor: pointer;
	padding: $xsmall-margin-padding;
}