button{
	color: white;
	background-color: $brand-color;
	cursor: pointer;
	padding: $small-margin-padding;
	border-radius: 1px;
  transition: opacity 0.3s ease-in-out;
}
.btn{
	color: white !important;
	display: inline-block;
	background-color: $brand-color;
	cursor: pointer;
	padding: $small-margin-padding;
	border-radius: 1px;
  transition: opacity 0.3s ease-in-out;
}
.updateProjectBtn{
	position: relative;
	top: -0.3em;
}
button:hover, .btn:hover{
	opacity: 0.8;
}