/* Standard buttons ---------------------------------------------------------------*/

button{
	color: white;
	cursor: pointer;
	border: none;
	padding: $small-padding-heights-bigger-width;
	border-bottom: 2px solid $purple;
	background: $brand-color;
	@include border-radius($standard-border-radius);
}
.negBtn{
	background: $orange;
	border-color: $darkorange;
}
.negBtn:hover{
	background: $darkorange;
}
.bigBtn{
	padding: $xsmall-margin-padding $smedium-margin-padding $xsmall-margin-padding;
	margin: $big-margin-padding 0 $smedium-margin-padding;
	font-size: 1.5em; /* 24 / 16 */
	line-height: 1em; /* 24 / 24 */
	margin-bottom: 1em; /* 24 / 24 */
}
button:hover{
	background: $purple;
}
button:focus, input:focus, textarea:focus {
	outline: none;
}

/* Group buttons ---------------------------------------------------------------*/
.button-group{
	margin-bottom: $medium-margin-padding;
}
.select-btn{
	border: 1px solid $mediumgrey;
	color: $mediumgrey;
	padding: $xsmall-margin-padding;
	margin-right: -3px;
	background: none;
}
.select-btn:hover{
	background: none;
	@include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.075), inset);
}
.select-btn-right{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.select-btn-left{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
