/* Branding ----------------------------------------------------------------*/
.mainHeader{
	background: url(../images/header.jpg) no-repeat;
	background-size: cover;
	position: relative;
	height: 100px;
	padding-bottom: 30%;
}

.basicHeader{
	background-color: white;
	border-bottom: 1px solid $lightgrey;
	height: 70px;
	position: relative;
	z-index: 2;
}
.logo{
	background: url(../images/logo.png) no-repeat;
	background-size: contain;
	display: block;
	height: 24px;
	width: 150px;
	margin: $medium-margin-padding 0 0 $medium-margin-padding;
}
.logoRed{
	background: url(../images/logored.svg) no-repeat;
	margin: $smedium-margin-padding 0 0 $medium-margin-padding;
}
.welcome{
	color: #fff;
	height: 95px;
	position: absolute;
	top: 50%;
	margin-top: -$big-margin-padding - $small-margin-padding;
 	width: 100%;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* Footer -----------------------------------------------------------------*/
.mainFooter{
  position: relative;
  background-color: $purple;
  z-index: 2;
}
.footerWrapper{
	width: 100%;
}
.footerNavigation{
	background-color: $secondary-brand-color;
	width: 50%;
	padding:$medium-box-padding-heights-bigger-width;
}
.footerStats{
	background-color: $purple;
	width: 50%;
	padding:$medium-box-padding-heights-bigger-width;
}
.mainFooter .footerStats ul{
	width: 50%;
	text-align: center;
}
.mainFooter ul{
	float: left;
	list-style: none;
	width: 33%;
}
.mainFooter .footerStats ul li{
	color: white;
}
.mainFooter ul li a{
	color: white;
	text-decoration: none;
}
/* usercard  ---------------------------------------------------------------*/
.userGeneralInfo{
	background-color: $lightgrey;
	position: relative;
}
.profileImg{
	margin-right: $medium-margin-padding;
}
.profileImg img{
	max-width: 100px;
	border-radius: 50%;
	border: 1px solid #fff
}
.profileInfo{
	width: 60%;
}
.profileInfo h4{
	margin-bottom: 0;
}
.rating{
	margin-top: $small-margin-padding;
}
.rating li{
	display: inline-block;
}
.reviewStar{
	background-image: url(../images/reviewStar.svg);
	background-size: contain;
	width: 20px;
	height: 20px;
	margin-right: $tiny-margin-padding;
}
.timeProjectLeft{
	position: absolute;
	background: $secondary-brand-color;
	color: white;
	padding: $xsmall-margin-padding $smedium-margin-padding;
	right: 0;
	bottom: -$smedium-margin-padding;
	border-top-left-radius: $medium-border-radius;
	border-bottom-left-radius: $medium-border-radius;
	border-bottom: 2px solid rgb(104,91,122);
}
.timeProjectLeft h3{
	margin-bottom: 0;
}
/*---- userskills & area information ----*/

.userLocationInfo{
	background-color: $lightgrey;
}
.userJobInfo{
	background-color: $brand-color;
	color: white;
	padding-top: $big-margin-padding;
}
.skillBlockRow{
  width: 100%;
}
.skillBlock{
	text-align: center;
	width: 50%;
	margin-top: 6%;
}
.skillBlock span{
	margin-bottom: $smedium-margin-padding;
}
.skillList{
	list-style: square;
	padding: 0 $medium-margin-padding;
}

.skillList li{
	margin-bottom: $tiny-margin-padding;
}

/* Comments ---------------------------------------------------------------*/
#comments{
	background-color: $lightgrey;
}
.commentsArea header{
	padding: $smedium-margin-padding 3%;
	width: 100%;
}
.commentsArea header h2{
	opacity: 1;
}
.comment{
	border-top: 1px solid white;
	padding: 3%;
}
.comment .profileImg img, .comment .profileImg{
	max-width: 60px;
	max-height: 60px;
}
.comment .profileImg{
	width: 22%;
}
.comment .rating{
	margin: -$small-margin-padding 0 0 0;
}
.comment h2{
	margin-bottom: $xsmall-margin-padding;
}

.comment h3, .comment h4{
	width: 55%;
}
.comment h4{
	margin: $tiny-margin-padding 0 $small-margin-padding;
}

.commentBody{
	width: 85%;
}
.commentBody h3{
	margin-bottom: 0;
}
.commentBody h4{
	font-size: 1em; /* 16 / 16 */
	line-height: 1.5em; /* 24 / 16 */
	margin-bottom: 1.5em; /* 24 / 16 */
}
.jobPage .comment{
	cursor: pointer;
}
.commentsFilter{
	position: relative;
}

.userCommentInfo{
	display: none;
	box-shadow: inset -3px 4px 9px -6px;
}
.userCommentInfo button{
	margin: $small-margin-padding $small-margin-padding 0 0;
}
.freelancePrice{
	margin: -$small-margin-padding $medium-margin-padding 0;
	color: $orange;
}
.userRatingDetails li{
	display: inline;
	margin-right: $medium-margin-padding;
}


/* Landing page ---------------------------------------------------------------*/
.placeJob, .login{
	background: $lightgrey;
	display: none;
	padding: 0 0 $big-margin-padding 0;
}
.login input[type="radio"]{
	width: 20px;
	height: 20px;
	border: none;
}
.loginselect, .registerselect{
	display: none;
}
.placeJob header, .login header{
	text-align: center;
	background: white;
	padding: $big-margin-padding 0;
	margin-bottom: $big-margin-padding;
	border-bottom: 1px solid $lightgrey;
}
.placeJob .wrapper, .login .wrapper{
	max-width: 750px;
}
.placeJob input, .login input{
	height: 50px;
	width: 70%;
	max-width: 460px;
}
.placeJob textarea, .login textarea{
	padding: $small-margin-padding;
	width: 70%;
	max-width: 460px;
}
.placeJob label, .login label{
	display: inline-block;
	position: relative;
	top: 2px;
	width: 30%;
}
.placeJob label .icon, .login label .icon{
	margin-right: $small-margin-padding;
	position: relative;
	top: 8px;
}
.placeJob label em, .login label em{
	padding-left: $small-margin-padding + $medium-margin-padding;
	font-style: normal;
}
.formRow{
	width: 100%;
	margin-bottom: $medium-margin-padding;
}
.loginBtn{
	margin-left: $small-margin-padding;
}