.mainFooter{
	padding: 0 2%;
}
.mainFooter p{
	font-size: 0.875em;
	color: $mediumgrey;
	margin-top: 1em;
	line-height: 3em;
}
.footerNav{
	width: 100%;
	background-color: white;
}
.footerNav section{
	width: 21%;
	margin: 2%;
}

.footerNav li{
	line-height: 1.5em;
	font-size: 0.875em;
}
