input {
	padding: 0 $small-margin-padding;
	border: 1px solid $mediumgrey;
	background: none;
	@include border-radius($standard-border-radius);
	-webkit-font-smoothing: antialiased;
}
input[type="radio"]{
	width: 20px;
	height: 20px;
	border: none;
}
select {
   background: transparent;
   padding: $xsmall-margin-padding;
   border: 2px solid $secondary-brand-color;
   @include border-radius($standard-border-radius);
   height: 40px;
   -webkit-appearance:none;
}
textarea {
	padding: 0 $small-margin-padding;
	border: 1px solid $mediumgrey;
	@include border-radius($standard-border-radius);
	background: none;
}
