body{
	background-color: $lightgrey;
}
.mainContent{
	width: 100%;
	@include box-sizing(border-box);
}
.mainContent .featuredRight, .mainContent .featured{
	width: 47%;
}

.mainContent .featuredRight{
	margin: 0 2% 0 2%;
}

.mainContent li{
	margin: 0 0 2% 2%;
	width: 22.5%;
	background-color: white;
}
.mainContent li header{
	padding: $tiny-margin-padding $small-margin-padding ;
}
.mainContent li a{
	color: $darkgrey;
}
.mainContent article{
	overflow: hidden;
}

.mainContent article img{
	width: 100%;
}
