.projectDescription, .projectVersions, .userProjectVersions, .commentInput form, .commentInput, .projectComments ul, .projectComments header, .projectComments, .mainContent, .mainContent .projectHeader div, .projectDetails, .userDetails, .postProject, .loginScreen, .accountScreen{
	@include box-sizing(border-box);
}
body{
	background-color: $lightgrey;
}
.projectComments ul,.mainContent, .projectHeader, .mainContent .projectComments li, .commentInput, .commentInput input, .commentInput textarea, .commentInput form{
	width: 100%;
}
.projectDescription, .mainContent .projectHeader img, .mainContent .projectHeader div{
	width: 50%;
}
.overviewPage{
	padding-bottom: 2%;
}
.mainContent .preview{
	margin: 2% 0 0 2%;
	width: 22.5%;
}
.mainContent li header{
	padding: $tiny-margin-padding $small-margin-padding ;
}
.mainContent li a{
	color: $darkgrey;
}
.mainContent .projectHeader div{
	padding: 4%;
	background-color: $darkgrey;
	color: white;
}
.landingPage .mainContent{
	padding-bottom: 2%;
}
.projectHeader{
	background-color: $darkgrey;
}
.projectHeader p{
	max-width: 800px;
}

.projectVersions{
	width: 50%;
	padding: 4%;
	background-color: rgba(white, .3);
	color: #333;
}
.projectVersions li{
	border-top: 1px solid rgba(255,255,255, 0.5);
	padding: 4% 0;
}

.userProjectVersions{
	width: 50%;
	padding: 4%;
	background-color: rgba(white, .3);
	color: #333;
}
.userProjectVersions li{
	border-top: 1px solid rgba(255,255,255, 0.5);
	padding: 4% 0;
}



.projectDetails{
	width: 50%;
	padding: 4%;
	background-color: rgba(white, .6);
	color: #333;
	text-align: center;
	border-bottom: #ddd solid 1px;
}
.projectDetails li span{
	font-size: 3em;	
}
.projectDetails li h5{
	margin-top: 1em;
	margin-bottom: 0;
}
.projectDetails li h6{
	margin-bottom: 0;
}
.projectDetails li{
	margin: 0 2% 0 0;
	width: 22.5%;
}
.projectDetails li:last-child{
	margin: 0 0 0 0;
}
.userDetails{
	width: 50%;
	padding: 4%;
	background-color: rgba(white, .6);
	color: #333;
	text-align: center;
	border-bottom: #ddd solid 1px;
}
.userDetails li span{
	font-size: 3em;	
}
.userDetails li h5{
	margin-top: 1em;
	margin-bottom: 0;
}
.userDetails li h6{
	margin-bottom: 0;
}
.userDetails li{
	margin: 0 2% 0 0;
	width: 22.5%;
}
.userDetails li:last-child{
	margin: 0 0 0 0;
}

.projectDescription{
	padding: 4%;
}

.projectComments{
	width: 50%;
	padding: 4%;
	background-color: white;
}
.projectComments header{
	background-color: white;
	width: 100%;
}
.projectComments div{
	width: 50%;
}
.projectComments ul{
	background: white;
	display: none;
}
.viewcomments{
	text-align: right;
	cursor: pointer;
}
.projectComments span{
	margin-right: 0.1em;
}
.comment{
	border-top: 1px solid $lightgrey;
	padding: 4% 0 0 0;
}
.commentInput{
	background: white;
}
.commentInput form{
	border-top: 1px solid $lightgrey;
	padding-top: 4%;
}
.commentInput input, .commentInput textarea{
	margin-bottom: 1em;
	max-width: 100%;
	box-sizing: border-box;
}

.projectUpdate{
	padding: 4%;
	width: 50%;
	background: rgba($brand-color, 0.02);
	@include box-sizing(border-box);
}

.projectUpdate form{
	width: 100%;
}
.projectUpdate input, .projectUpdate textarea{
	margin-bottom: 1em;
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	border-color: $mediumgrey	;
}

.standardPage{
	padding: 2%;
}
.standardPage p{
	max-width: 40em;
	font-size: 1.5em;
}
.postProject{
	padding: 4%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(255,255,255,0.97);
	display: none;
}
.postProject form{
	max-width: 600px;
	width: 100%;
}
.postProject input, .postProject textarea, .postProject select{
	max-width: 100%;
	width: 100%;
	margin-bottom: 1em;
	@include box-sizing(border-box);
}
.loginScreen{
	padding: 4%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(255,255,255,0.97);
	box-shadow: 0 4px 5px rgba(50,50,50,0.2);
	display: none;
}
.loginScreen form{
	max-width: 600px;
	width: 100%;
}
.loginScreen input, .loginScreen textarea, .loginScreen select{
	max-width: 100%;
	width: 100%;
	margin-bottom: 1em;
	@include box-sizing(border-box);
}
.loginScreen button{
	margin-bottom: 4em;
}
.accountScreen{
	padding: 4%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background: rgba(255,255,255,0.97);
	box-shadow: 0 4px 5px rgba(50,50,50,0.2);
	display: none;
}
.accountScreen form{
	max-width: 600px;
	width: 100%;
}
.accountScreen input, .accountScreen textarea, .accountScreen select{
	max-width: 100%;
	width: 100%;
	margin-bottom: 1em;
	@include box-sizing(border-box);
}
.accountScreen button{
	margin-bottom: 4em;
}

.rating span{
	padding: 0 0.1em;
	cursor: pointer;
}
.rating span:hover{
	color: $brand-color;
}
.isRated1 span:nth-child(-n+1), .rated1 span:nth-child(-n+1){
	color: $brand-color;
}
.isRated2 span:nth-child(-n+2), .rated2 span:nth-child(-n+2){
	color: $brand-color;
}
.isRated3 span:nth-child(-n+3), .rated3 span:nth-child(-n+3){
	color: $brand-color;
}
.isRated4 span:nth-child(-n+4), .rated4 span:nth-child(-n+4){
	color: $brand-color;
}
.isRated5 span:nth-child(-n+5), .rated5 span:nth-child(-n+5){
	color: $brand-color;
}
.close-icon{
	position: absolute;
	top: 4%;
	right: 4%;
	transform: rotate(45deg);
	font-size: 1.5em;
	cursor: pointer;
}
.videoHeader{
	padding: 0 !important;
}
.videoWrapper {
	position: relative;
	width: 100% !important;
	padding-bottom: 56.25% !important; /* 16:9 */
	padding-top: 25px !important;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}