.logo, .shareDesignBtn, .mainNavigation li, .mainNavigation li a{
	height: 100%;
}
.mainNavigation{
	background-color: $lightgrey;
	height: 75px;
	font-size: 1.3125em;
}
.logo{
	background: $darkgrey url(../images/logo.svg) no-repeat 0.9em center;
	padding: 0 3em;
	line-height: 3.6em;
	color: white;
}
.shareDesignBtn{
	background-color: $brand-color;
	padding: 0 $medium-margin-padding;
	line-height: 3.6em;
	color: white;
}
.mainNavigation li{
	display: inline-block;
}

.mainNavigation li a{
	color: $mediumgrey;
	padding: 0 2em;
	line-height: 3.6em;
	display: inline-block;
}
.mainNavigation .current a{
	background-color: white;
}
.mainNavigation li a:hover{
	background-color: white;
}
