.searchBar{
	width: 100%;
	background-color: rgba($secondary-brand-color, .8);
	bottom: 0;
	left: 0;
	position: absolute;
	text-align: center;
	padding: $medium-margin-padding;
}
.searchForm{
	text-align: center;
	margin: auto;
	max-width: 680px;
}
.searchForm form{
	float: left;

}
.searchForm a{
	margin-top: $small-margin-padding;
	margin-left: $small-margin-padding;
	color: white;
}
.searchBar input{
	background: #fff;
	padding: $medium-padding-heights-bigger-width;
	border: none;
	border-radius: $standard-border-radius 0 0 $standard-border-radius;
	border-bottom: 3px solid #e6e6e6;
	width: 400px;
}
.searchBar button{
	margin-left: -4px;
	border: none;
	cursor: pointer;
	border-radius: 0 $standard-border-radius $standard-border-radius 0;
	padding: $medium-padding-heights-bigger-width;
	background-color: #dc717d;
	border-bottom: 3px solid #ad6b82;
	color: #fff;
}
.searchBar button:hover{
	background: #ad6b82;
}
.expandedSearch{
	background: #f5f5f5;
	display: none;
}
.expandedSearch .wrapper{
	max-width: 750px;
}
.expandedSearch input{
	font-family: 'proxima_nova_rgregular';
	height: 50px;
	width: 70%;
	max-width: 460px;
}
.expandedSearch label{
	display: inline-block;
	min-height: 30px;
	position: relative;
	top: 2px;
	width: 30%;
}
.expandedSearch label .icon{
	margin-right: $small-margin-padding;
	position: relative;
	top: 8px;
}
.expandedSearch label em{
	padding-left: $small-margin-padding + $medium-margin-padding;
	font-style: normal;
}
