$background-color: white;
$brand-color: rgb(220,113,125);
$secondary-brand-color: rgb(50,58,69);
$orange: rgb(255,171,84);
$darkorange: rgb(216,123,39);
$purple: rgb(173,107,130);
$lightgrey: rgb(237,235,235);
$mediumgrey: rgb(102,102,102);
$darkgrey: rgb(50,50,50);
$defaultLinkColor: rgb(220,113,125);